 @charset "UTF-8";

 :root{
    --corw: white;
    --corb: black;
    --cor0: #4AA2D9;
    --cor1: #306EBF;
    --cor2: #2E578C;
    --cor3: #043069;
    --cor4: ;
}

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
   background-image: linear-gradient(to bottom, var(--cor0), var(--corw));
   line-height: 2em;
   margin: auto;
 }

 header{
   color: var(--corw);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 h1{
    text-shadow: 2px 2px 4px var(--cor2);
    margin-bottom: 10px;
 }

 .hp{
   font-weight: bold;
   text-shadow: 1px 1px 2px var(--cor2);
 }

 .botoes{
   display: flex;
   margin-top: 10px;
   margin-left: 20px;
 }

 .historia{
  background-color: var(--cor1);
  font-weight: bold;
  margin: 0 10px;
  padding:  5px 10px;
  border-radius: 3px;
  transition: transform 0.8s ease, box-shadow 1s ease;
 }

 .historia:hover{
  background-color: var(--cor2);
  transform: translateY(-10px);
  box-shadow: 0 6px 8px var(--cor3);
 }

  .musica{
  background-color: var(--cor1);
  font-weight: bold;
  margin: 0 20px;
  padding:  5px 10px;
  border-radius: 3px;
  transition: transform 0.8s ease, box-shadow 1s ease;
 }

 .musica:hover{
  background-color: var(--cor2);
  transform: translateY(-10px);
  box-shadow: 0 6px 8px var(--cor3);
 }

 .pag{
  color: var(--corw);
 }

 main{
   max-width: 700px;      /* Limita a largura máxima */
   margin-left: auto;     /* Centraliza horizontalmente */
   margin-right: auto;    /* Centraliza horizontalmente */
   padding: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .texto{
   text-align: center;
   background-color: var(--cor1);
   margin: 20px;
   border-radius: 5px;
   box-shadow: 3px 5px 6px var(--cor2);
 }

 .container{
    text-align: justify;
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .titulo{
   color: var(--cor0);
   text-align: center;
   margin: 20px;
 }

 a{
  color: var(--cor3);
  text-decoration: none;
  transition: color 0.3s;
 }

 a:hover{
   color: var(--cor0);
 }

 footer{
   color: var(--corw);
   background-color: var(--cor2);
   padding: 10px;
   text-align: center;
   font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }